<!-- <mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      {{title}}
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>Expand</button>
        <button mat-menu-item>Remove</button>
      </mat-menu>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
   <ng-content></ng-content>
  </mat-card-content>
</mat-card> -->

<h1>Hip!</h1>

<h1 *ngIf="!showTemplate else loading"></h1>
<ng-template #loading>
  <h1 style="color:red">Loading the contents of ng-template</h1>
  <h1 style="color:blue">Only loads when the ngIf Condition is not met.</h1>
</ng-template>

<ng-content select="loading"></ng-content>
<<ng-container><h1>Will this show?</h1></ng-container>
<h1>Hooray!</h1>
