<h1>HTML BLOCK ELEMENTS</h1>

<carousel>
    <slide>
      <img src="https://picsum.photos/536/354" alt="first slide" style="display: block; width: 100%; height:400px;">
    </slide>
    <slide>
      <img src="https://picsum.photos/seed/picsum/536/354" alt="second slide" style="display: block; width: 100%; height: 400px;">
    </slide>
    <slide>
      <img src="https://picsum.photos/id/1060/536/354?blur=2" alt="third slide" style="display: block; width: 100%; height: 400px">
    </slide>
  </carousel>

  <!-- HTML "block-level " elements -->
  <address class="container" style="border: 5px, solid, blue">Address Container</address>
  <article class="container-fluid" style="font-size:larger">Article Container-Fluid</article>
  <aside>Aside</aside>
  <blockquote>Blockquote</blockquote>
  <dd style="border: 5px, dotted, yellow" >Description List DD</dd>
  <div style="border: 5px, dotted, green">DIV Element</div>
  <dl>Description List Element</dl>
  <dt>Description List Term</dt>
  <fieldset>FieldSet Element</fieldset>
  <figcaption>Figure Caption</figcaption>
  <footer>Footer- Where does it go?</footer>
  <form action="/">Form </form>
  <header>Header Section</header>
  <hr>
  <li>List Item</li>
  <main>Main Section</main>
  <ol>Oredered List</ol>
  <pre>Preformatted Text</pre>
  <section>Section</section>
  <table class="table">
    <thead>
      <tr> 
        <th>Employee</th>
        <th>Emp ID</th>
        <th>Emp CP #</th>
        <th>Emergency Contact</th>
        <th>Position</th>
        <th>Department</th>
      </tr>
    </thead>
    <tbody>
      <tr> 
        <td>Woo</td>
        <td>768342</td>
        <td>783-209-3020</td>
        <td>Alex</td>
        <td>Gen Manager</td>
        <td>Import</td>
      </tr>
    </tbody>
   
  </table>
 <ul>Unordered List
   <li>U List 1</li>
   <li>U List 2</li>
   <li>U List 3</li>
   <li>U List 4</li>
   <li>U List 5</li>
 </ul>