h1 {
    text-align: center;
}

.container {
    border: 5px solid blue;
    background-color: yellow;
    display:flex;
    height: 10vh;
}

.container-fluid {
    border: 5px dotted gray;
    background-color: honeydew;
    display:block;
    height: 5vh;
}

.aside {
    border: 5px double green;
    background-color: indigo;
}

.header {
    border: 5px solid blue;
    background-color: yellow;
    display:flex;
    height: 10vh;
}

table {
    border: 5px solid blue;
    background-color: yellow;
    display:flex;
    height: 20vh;
    font-style: italic;
    font-weight: bolder;
}