<h1>ISF Input Screen</h1>

<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>ISF Input</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password">
        </mat-form-field>

      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block">Save and Exit</button>
    </form>
  </mat-card>

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>ISF Input</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password">
        </mat-form-field>

      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block">Save and Exit</button>
    </form>
  </mat-card>

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>ISF Input</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput type="date" placeholder="Export Date">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="date" placeholder="Loading Date">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="date" placeholder="Arrival Date">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="date" placeholder="Entry Date">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="date" placeholder="Presentation Date">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="date" placeholder="Entry Summary Date">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password">
        </mat-form-field>

      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block">Save and Exit</button>
    </form>
  </mat-card>

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>ISF Input</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password">
        </mat-form-field>

      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block">Save and Exit</button>
    </form>
  </mat-card>

</div>
